
<%= render 'admin/shared/topbar' %>
<table>
  <tr>
    <th> # </th>
    <th colspan="6"> Title </th>
    <th> Status </th> 
  </tr>
  <% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.id %></td>
    <td colspan="6"><%= blog.title %></td>
    <td><%= blog.status %></td>
    <td> <%= link_to 'Change status', edit_admin_blog_path(blog)%> </td>
  </tr>
  <% end %>
</table>

<button class="btn btn-alert"> Click </button>